@tailwind base;
@tailwind components;
@tailwind utilities;

/********** Custom Backgrounds ***********/
.earth-background {
  background-image: url('/backgrounds/earth.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
  /* position: relative; */
}

.jeep-background {
  background-image: url('/backgrounds/jeep.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.stars-background {
  background-image: url('/backgrounds/stars.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.map-background {
  background-image: url('/backgrounds/map.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

/*********** Overlays ***********/

.screen-overlay {
  background-image: url('/overlays/screen-overlay.png');
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: absolute;
  /* opacity: 0.9; */
}

.full-overlay {
  background: rgba(0, 0, 0, 0.801);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: absolute;
}

/********** Custom Cards ***********/

.small-card {
  position: relative;
  object-fit: cover;
  background-size: contain;
  background-position: center;
  width: 288px;
  width: 160px;
  height: 224px;
  border-radius: 8px;
}

.wide-card {
  /* position: relative; */
  object-fit: cover;
  background-size: contain;
  background-position: center;
  width: 288px;
  height: 162px;
  border-radius: 8px;
}

.medium-card {
  position: relative;
  object-fit: cover;
  background-size: contain;
  background-position: center;
  top: 334px;
  left: 63px;
  width: 201px;
  height: 283px;
}

.large-card {
  position: relative;
  object-fit: cover;
  background-size: contain;
  background-position: center;
  margin-top: 36px;
  width: 288px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}

/********** Custom Texts ***********/

.text-top-quest {
  position: absolute;
  top: -6px;
  left: 12px;
  font-family: DM Sans;
  font-size: 84px;
  font-weight: 700;
  line-height: 110px;
  color: #9095a080;
}

/********** Custom Badges ***********/
.badge-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 5px;
}

.search-badge {
  height: 28px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #6e7787ff;
  background: transparent;
  border-color: #6e7787ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.search-badge:hover {
  color: #565e6cff;
  border-color: #565e6cff;
}

.search-badge:active {
  color: #424955ff;
  border-color: #424955ff;
}

.search-badge:disabled {
  color: #6e7787ff;
  border-color: #6e7787ff;
}
