@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
}

/********** Custom Backgrounds ***********/
.earth-background {
  background-image: url('/backgrounds/earth.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
  /* position: relative; */
}

.jeep-background {
  background-image: url('/backgrounds/jeep.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.stars-background {
  background-image: url('/backgrounds/stars.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.map-background {
  background-image: url('/backgrounds/map.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.cave-background {
  background-image: url('/backgrounds/cave.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.quest-image {
  position: relative;
  object-fit: cover;
  object-position: center;
  top: -1px;
  left: 0px;
  width: 100%;
  max-height: 45vh;
  border-radius: 0px;
  z-index: 1;
}

/*********** Overlays ***********/

.half-overlay {
  background-image: url('/overlays/half-overlay.png');
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: absolute;
  /* opacity: 0.9; */
}

.full-overlay {
  background: rgba(0, 0, 0, 0.801);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: absolute;
}

.quest-overlay {
  background: rgba(0, 0, 0, 0.801);
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0px;
  z-index: 2;
}


/********** Custom Cards ***********/

.small-card {
  position: relative;
  object-fit: cover;
  background-size: contain;
  background-position: center;
  width: 288px;
  width: 160px;
  height: 224px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .small-card {
    width: 125px;
    height: 180px;
  }
}

.wide-card {
  position: relative;
  object-fit: cover;
  background-size: contain;
  background-position: center;
  width: 288px;
  height: 162px;
  border-radius: 8px;
}

.medium-card {
  position: relative;
  object-fit: cover;
  background-size: contain;
  background-position: center;
  top: 334px;
  left: 63px;
  width: 201px;
  height: 283px;
}

.large-card {
  position: absolute;
  object-fit: cover;
  background-size: contain;
  background-position: center;
  /* margin-top: 36px; */
  width: 288px;
  height: 400px;
  border-radius: 8px;
  /* overflow-y: auto; */
}

/********** Custom Texts ***********/

.text-top-quest {
  position: relative;
  top: -6px;
  left: 12px;
  font-family: DM Sans;
  font-size: 84px;
  font-weight: 700;
  line-height: 110px;
  color: #9095a080;
}

/********** Custom Tags ***********/
.tag-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 5px;
}

.search-tag {
  height: 28px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #6e7787ff;
  background: transparent;
  border-color: #6e7787ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.search-tag:hover {
  color: #565e6cff;
  border-color: #565e6cff;
}
.search-tag:active {
  color: #424955ff;
  border-color: #424955ff;
}
.search-tag:disabled {
  color: #6e7787ff;
  border-color: #6e7787ff;
}
